{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  {% if content is not empty %}
   {% if content.field_first_name.0 %}
    <div class="container user-profile my-3 shadow p-3 mb-5 bg-body rounded">
      <div class="row user-profile">
        <div class="user-picture col-md-3">{{ content.user_picture }}</div>
        <div class="col-md-9 row user-profile-content">
          <h2 class="user-name">{{ content.field_first_name.0 }} {{ content.field_last_name.0 }}</h2>
          <div class="col-md-10 gender">
            <span>Gender: {{ content.field_gender.0 }}</span>
          </div>
          <div class="col-md-10 dob">
            <span>DOB: {{ content.field_date_of_birth.0 }}</span>
          </div>
          <div class="col-md-10 marital-status">
            <span>Marital Status: {{ content.field_marital_status.0 }}</span>
          </div>
          <div class="col-md-10 city">
            <span>City: {{ content.field_city.0 }}</span>
          </div>
          <div class="col-md-10 education">
            <span>Education: {{ content.field_education.0 }}</span>
          </div>
          <div class="col-md-10 occupation">
            <span>Occupation: {{ content.field_occupation.0 }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="container user-about my-3 shadow p-3 mb-3 bg-body rounded">
      {% if content.field_about.0 %}
      <div class="row user-about">
        <div class="col-md-13 about">
          <h4>A few words about me:</h4> 
          {{ content.field_about.0 }}
        </div>
      </div>
      {% endif %}
    </div>
    
    <div class="container user-about my-3 shadow p-3 mb-3 bg-body rounded">
      <div class="row user-about">
        <div class="col-md-13 about">
          <h4>Basic Details : </h4> 
          {{ content.field_profile_for.0 }}
        </div>
      </div>
    </div>
    {% endif %}
  {% endif %}
</article>
